@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <div class="text-center">
        <img src="~/imagenes/MEME.jpg" alt="Meme1" class="meme-modificar" />
    </div>
    <br />
    <div class="text-center">
        <button type="button" class="btn btn-outline-info" onclick="CrearAlerta()"> Presioname para informacion! </button>
    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>